@import url('https://fonts.googleapis.com/css?family=Nunito:700&display=swap');
h1, h2 {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

hr {
    border-color:#aaa;
    box-sizing:border-box;
    width:100vw;
}

.contato img {
    width: 48px;
}

.ling img {
    width: 70px;
    height: 70px;
}

button {
    height: 50px;
}

.zoom .foco .ling{
    overflow: hidden;
} 

.foto, .foco img, .ling img {
    max-width: 100%;
    transition: all 0.3s;
}

.foto:hover {
    transform: scale(1.1);
}

.foco img:hover, .ling img:hover {
    transform: scale(1.2);
}

.react:hover{
    transform: rotate(360deg);
}