@import url('https://fonts.googleapis.com/css?family=Nunito:700&display=swap');
h1, h2 {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

hr {
    border-color:#aaa;
    box-sizing:border-box;
}

.contato img {
    width: 48px;
}

.ling img {
    width: 70px;
    height: 70px;
}

button {
    height: 50px;
}

.zoom .foco .ling{
    overflow: hidden;
} 

.foto, .foco img, .ling img {
    max-width: 100%;
    transition: all 0.3s;
}

.foto:hover {
    transform: scale(1.1);
}

.foco img:hover, .ling img:hover {
    transform: scale(1.2);
}

.react:hover{
    transform: rotate(360deg);
}
.container {
    width: 65%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
}

#vitt {
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 2s, height 2s, transform 2s;
}

#vitt:hover {
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}


/* Fazer um botão para o topo da página (retidado do w3c) */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #417bfe; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }